spring:
  security:
    oauth2:
      client:
        registration:
          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_SECRET}
            redirect-uri: http://ec2-15-164-1-22.ap-northeast-2.compute.amazonaws.com:8080/login/oauth2/code/naver   # (== {baseUrl}/{action}/oauth2/code/{registrationId})
            authorization-grant-type: authorization_code
            scope: id, email, profile_image
            client-name: naver
        provider:
          naver:
            authorization_uri: https://nid.naver.com/oauth2.0/authorize
            token_uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user_name_attribute: response